*{
    box-sizing:border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
	margin-left:auto;
	display:flex;
	width:400px;
}
li{
	list-style-type: none;
	flex: 1 0 100px;
}
#catalog,#bigItem{
  margin:20px auto ;
  width:816px;
}
#itemList{
  display:grid;
  grid-template-columns: 400px 400px;
  grid-gap: 16px ;
  margin-top:8px;
}
.item{
    box-shadow: 0 0 8px #999;
    background-color: #fff;
}
#itemList>a>.item {
    position:relative;
   height:100%;
    padding:8px;
    opacity:1;
}
#itemList>a{
    opacity:1;
}
#itemList>a:hover>.item{
    box-shadow: 4px 4px 8px #999;
    left:-4px;
    top:-4px;
}
#bigItem>.item{
    padding:16px;
}
#bigItem>.item>h2{
    font-size:50px;
}
.item_desc{
    font-size: 24px;
}
h1{
  font-size:50px;
}
img{
    width:100%;
}
 footer{
     padding:16px;
     border-top: 1px solid grey;
     height:100px;
 }
 a{
     color: #282c34;
     text-decoration: none;
     font-style: italic;
     font-size: 24px;
 }
 a,button{
     opacity:0.5;
 }
 a:hover:enabled,button:hover:enabled{
     opacity:1;
     cursor:pointer;
 }
 #backButton{
     position:fixed;
     left:18px;
     top:100px;
     width:calc(50vw - 450px);
     height:200px;
     background-color: #ffffff;
     border:0 solid #fff;
     font-size: 50px;
 }
#pagination{
    display:flex;
    text-align: center;
}
.paginationButton{
    flex-grow:0;
    flex-shrink: 0;
    flex-basis:30px;
    line-height:26px;
    height:30px;
    background: #fff;
    border-width:0;
}
.space{
    flex-grow:1;
}

