*{
    box-sizing:border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nav_ul{
	margin-left:auto;
	display:flex;
	width:400px;
}
li{
	list-style-type: none;
}
#nav_ul > li{
	flex: 1 0 100px;
}
#bigItem{
	width:816px;
}
#catalog,#bigItem{
  margin:20px auto ;
  min-height:220px;
}
#catalog{
	width:100%;
	display:grid;
	grid-template-areas: ". pagination ."
				"sidebar items .";
	grid-template-columns: 1fr 816px 1fr;		
}
#sidebar{
	grid-area:sidebar;
}
nav[aria-label="pagination"]{
	margin:auto;
	grid-area: pagination;
}
#itemList{
  grid-area:items;
  display:grid;
  grid-template-columns: 400px 400px;
  grid-gap: 16px ;
  margin-top:8px;
}
.item{
    box-shadow: 0 0 8px #999;
    background-color: #fff;
}
#itemList>a>.item {
    position:relative;
   height:100%;
    padding:8px;
    opacity:1;
}
#itemList>a{
	color:black;
	text-decoration: none;
    opacity:1;
}
#itemList>a:hover>.item{
    box-shadow: 4px 4px 8px #999;
    left:-4px;
    top:-4px;
}
#bigItem>.item{
    padding:16px;
}
#bigItem>.item>h2{
    font-size:50px;
}
.item_desc{
    font-size: 24px;
}
h1{
  font-size:50px;
}
img{
    width:100%;
}
 footer{
     padding:16px;
     border-top: 1px solid grey;
     height:100px;
 }
 a{
     font-style: italic;
     font-size: 24px;
 }
 a,button{
     opacity:0.5;
 }
 a:hover:enabled,button:hover:enabled,input:enabled,label{
     opacity:1;
     cursor:pointer;
 }
#sidebar{
	margin: 0px auto;
	padding:8px;
	padding-left:24px;
	font-size: 20px;
}
#filter{
display:flex;
	flex-direction: column;
}